<div class="listaProductos">
  {{#if isStock}}
    {{#if admin}}
      {{#each products}}
        <div class="producto">
          <div class="imagen">
            <img src="{{this.thumbnail}}" />
          </div>
          <div class="informacion">
            <h4 class="nombre bordes"><strong>{{nombre}}</strong></h4>
            <p class="descripcion bordes">{{descripcion}}</p>
            <p class="precio bordes"><strong>${{precio}}</strong></p>
            <h5 class="stock bordes">Stock: {{stock}}</h5>
          </div>
          <div class="botones bordes">
            <button class="btn btn-success">Actualizar</button>
            <button class="btn btn-danger">Eliminar</button>
          </div>
        </div>
      {{/each}}
    {{else}}
      {{#each products}}
        <div class="producto">
          <div class="imagen">
            <img src="{{this.thumbnail}}" />
          </div>
          <div class="informacion">
            <h4 class="nombre bordes"><strong>{{nombre}}</strong></h4>
            <p class="descripcion bordes">{{descripcion}}</p>
            <p class="precio bordes"><strong>${{precio}}</strong></p>
            <h5 class="bordes">Stock: {{stock}}</h5>
          </div>
        </div>
      {{/each}}
    {{/if}}
  {{else}}
    <div>
      <h2>No hay productos</h2>
    </div>
  {{/if}}

</div>